## Configuración de Variables de Entorno

# Configuración del servidor
PORT=3000
NODE_ENV=development

# Base de datos MongoDB
URI_MONGO=mongodb://localhost:27017/skillcheck

# JWT
SECRET_KEY_JWT=your_super_secret_key

# URL del cliente - Frontend
CLIENT_URL=http://localhost:5173

# Usuario administrador por defecto
ADMIN_NAME=Admin
ADMIN_SURNAME=User
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
ADMIN_ROLE=ADMIN